/* 
Add a background image
Title/Header
Something to show the user needs to press the start button (an emphasis on this button)




*/









body {
background-image: url("../images/AdobeStock_141530675.jpeg");
background-size: cover;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 32px;
color: #3B3840;
}

.logo {
    color: #734D54;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 58px;
   font-weight: bold;
   padding: 10px;
   text-align: center;
  
}

.container {
    background-color: #F0F0F2;
    height: 400px;
    width: 540px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start {
    background-color: #734D54;
    font-size: 48px;
    font-weight: bold;
    color: #F0F0F2;
    margin-top: 40px;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.timer {
    text-align: center;
}

button {
    width: 100%;
    height: auto;
    color: #3B3840;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #734D54 !important;
    border: none;
}